.Toolbar { 
    height: 56px;
    width: 100%;
    position: fixed; /*always at top even while scrolling*/
    top: 0;
    left: 0;
    background-color: #703B09;
    display: flex; /*all items in toolbar are aligned to each other, default direction of flex box is row even if they're block elements*/ 
    justify-content: space-between; /*how the elements should be spread out*/
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box; /*toolbar is sized correctly even with padding*/
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 80%;
}

/*mobile*/
@media(max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}