.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex; /*align list items next to each other*/
    flex-flow: column; /*on top of each other*/
    align-items: center;
    height: 100%;
}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
}